@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	background-image: url("../img/backgroud.jpg");
    width: 990px; 
    height: 1500px; 
    background-repeat: no-repeat;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    text-align: center;
    pointer-events: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 40px 0px 40px;
    position: relative;
    bottom: 520px;
    right: 100px;
}

.banner img:hover {
    transform: rotate(5deg);
    scale: 1.1;
    transition: 0.5s;
}

.menu-special {
    margin-top: 445px;
    background-image: url("../img/banner.png"); height: 100px; width: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.menu-special h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 2px;
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0 7px rgba(0, 0, 0, 0.712);
}

.button-menu {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
    bottom: 450px;
    right: 10px;
}

.button-menu .button1 {
    border: none;
    border-radius: 60px;
    padding: 20px 45px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #0d89e3;
    background-color: #ecf556;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;
}

.button-menu .button2 {
    padding: 20px 68px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 60px;
    color: #0d89e3;
    background-color: #ecf556;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;

}

.button-menu .button3 {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 60px;
    color: #0d89e3;
    background-color: #ecf556;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;
}

.button1:hover {
    background-color: #63281c;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
    scale: 1.1;
}

.button2:hover {
    background-color: #000000;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
    scale: 1.1;
}

.button3:hover {
    background-color: #63281c;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
    scale: 1.1;
}

#menu {
    margin-top: 50px;
    margin-left: 8px;
}

#menu1 {
    margin-left: 10px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17.5px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 798px;
    right: 29px;
}

#menu2 {
    margin-left: 10px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 1055px;
    right: 210px;
}

#menu3 {
    margin-left: 5px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 1365px;
    left: 215px;
}

.kupon {
    position: absolute;
    margin-top: -820px;
    margin-left: 110px;
    width: 40px;
    height: 50px;
    bottom: 410px;
    position: relative;
}

.kupon:hover {
    scale: 1.1;
    filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 0.904));
    opacity: 90%;
}

.akses {
    margin-top: -670px;
    margin-right: 100px;
    background-image: url(../img/akses.png);
    width: 912px;
    height: 253px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.akses p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 600;
    color: #000000;
    position: absolute;
    top: 500px;
    left: 80px;
}
